$text: #2C2E43;
$dark: #2c5282;
$primary: #595260;
$secondary: #B2B1B9;
$accent: #FFD523;

$light: #cfcfcf;
$body: #f9f9f9;
$gradient: linear-gradient(90deg, rgba(142, 179, 255, 1) 0%, rgba(100, 152, 255, 1) 100%);
$blue: #6699ff;