@import '../../styles/variables';

.content {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        font-size: 24px;
        box-shadow: 2px 2px 5px 0px $secondary;
        height: 80px;
    }

    &__item.content__item--night {
        background: $gradient;
        color: #fff;

        & div {
            color: inherit;
        }
    }

    &__item-img {
        margin: 0 20px;
    }

    &__item-temp {
        max-width: 65px;
        width: 100%;
    }

    &__item-descr {
        max-width: 360px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &__item-box {
        display: flex;
        align-items: center;
        min-width: 370px;
        justify-content: end;
    }

    &__item-img {
        width: 70px;
    }

    &__item-direction {
        width: 20px;
        height: 20px;
    }

    &__item-wind {
        max-width: 200px;
        width: 100%;
        margin-right: 15px;
        margin-left: 5px;
    }

    &__item-hum {
        max-width: 100px;
        width: 100%;
    }
}